.flex-row {
    display: flex;
    flex-direction: row;
    height: 5vh;
    justify-content: space-between;
}

.app-header {
    background: #9B74D6;
    padding: 0 5rem ;

    .app-header-item {
        cursor: pointer;
        color: whitesmoke;
        padding: 0.6rem 2rem;
        text-align: center;

        &:hover {
            background: #7952B3;
            color: white;
            text-decoration: none;
        }
    }
}