<template name="templateAppLayout">
    <div class="container pokker-app">
        {{> templateAppHeader}}
        {{> yield}}
        {{> templateAppFooter}}
        {{> templatePopupManager}}
    </div>
</template>

<template name="templateAppLoading">
    <div class="container">
        Loading
    </div>
</template>

<template name="templateAppFooter">
    <div class="app-footer">
    </div>
</template>

<template name="templateAppNotFound">
    <div class="app-notfound">
        Not Found
    </div>
</template>