<template name="templateTableWrapper">
    {{#with tableData}}
        {{> templateTable}}
    {{/with}}
</template>

<template name="templateTable">
    <div class="p-table">
        <div class="p-table-info">
            <!-- <div class="name">
                Table: {{name}}
            </div> -->
            <div class="hand">
                {{handIndex}}
            </div>
            <div class="round">
                {{round}}
            </div>
        </div>
        <div class="p-table-seats top">
            {{#each firstRowSeats}}
                {{> templateTableSeat}}
            {{/each}}
        </div>
        <div class="p-table-main">
            {{#if currentHand}}
                <div class="pot">
                    {{pot}}
                </div>
            {{else}}
                {{#with newHandBtnOptions}}
                    {{> templateUIButton}}
                {{/with}}
            {{/if}}
        </div>
        <div class="p-table-seats bottom">
            {{#each secondRowSeats}}
                {{> templateTableSeat}}
            {{/each}}
        </div>
    </div>
</template>

<template name="templateTableSeat">
    <div class="p-seat">
        {{#if isEmpty}}
            {{> templateUIButton addPlayerBtnOptions}}
        {{else}}
            <div class='p-seat-player'> 
                {{#if isSB}}
                    <div class="p-seat-blind badge">
                        SB
                    </div>
                {{/if}}
                {{#if isBB}}
                    <div class="p-seat-blind badge">
                        BB
                    </div>
                {{/if}}
                <div class="p-seat-info">
                    <div class="p-seat-name">{{name}}</div>
                    <div class="p-seat-stack">{{stack}}</div>
                </div>
            </div>
        {{/if}}
    </div>
</template>