.add-player-popup {
    .modal-content {
        width: 360px;
    }
}

.p-table-seats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px 0;
}

.p-table-main {
    background: #2D8A55;
    border-radius: 10px;
    height: 400px;
}

.p-seat-player {
    border-radius: 10px;
    background: #2b2b2b;
    color: white;
    column-gap: 10px;
    display: flex;
    flex-wrap: nowrap;
    font-weight: 400;
    justify-content: space-between;
    min-width: 100px;
    max-width: 120px;
    padding: 1.5rem;

    .p-seat-blind {
        align-items: center;
        background: #d4d2d2;
        color: black;
        display: flex;
        font-weight: 600;
    }

    .p-seat-info {
        width: 50%;

        .p-seat-name {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 50px;
        }
    }
}