<template name="templateTableWrapper">
    {{#with tableData}}
        {{> templateTable}}
    {{/with}}
</template>

<template name="templateTable">
    <div class="p-table">
        Table: {{name}}
        {{handIndex}}
        <div class="p-table-seats">
            {{#each seats}}
                {{> templateTableSeat}}
            {{/each}}
        </div>
        <div class="p-table-main">
            {{#if currentHand}}
                {{pot}}
            {{else}}
                {{> templateUIButton newHandBtnOptions}}
            {{/if}}
        </div>
    </div>
</template>

<template name="templateTableSeat">
    <div class="p-seat">
        {{#if isEmpty}}
            {{> templateUIButton addPlayerBtnOptions}}
        {{else}}
            <div class='p-seat-player'> 
                {{#if isSB}}
                    <div class="p-seat-blind badge">
                        SB
                    </div>
                {{/if}}
                {{#if isBB}}
                    <div class="p-seat-blind badge">
                        BB
                    </div>
                {{/if}}
                <div class="p-seat-info">
                    <div class="p-seat-name">{{name}}</div>
                    <div class="p-seat-stack">{{stack}}</div>
                </div>
            </div>
        {{/if}}
    </div>
</template>